<br><br>
<br><br>

<div id="testimonials" class="section wb wow fadeIn">
    <div class="container">
       <div class="heading">
          <span class="icon-logo"><img src="../assets/images/icon-logo.png" alt="#"></span>
             <h2>Les membres de l'équipe</h2>
             <h4>Les personnes qui ont participés à ce projet</h4>
       </div>
      
         <div class="row">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo1.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Abdoulaye Athie KA</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Initiateur & Chef de projet</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo2.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Adramé DIAKHATE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Développeur BackEnd</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo3.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Assane Samba GUEYE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Développeur BackEnd</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo4.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Daouda BA</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Développeur FrontEnd</h5>
            </div>
         </div>
         <br><hr>
         <div class="row">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo5.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Badara Dione MBENGUE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Equipe Relationnelle</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo6.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Mouhamadou Lamine DIA</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo7.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Samba KANDJI</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo8.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Syaka SAMATE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
         </div>
         <br><hr>
         <div class="row">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo9.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Elhadji Abdou Aziz MBENGUE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo2.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Adramé DIAKHATE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo1.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Assane Samba GUEYE</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
               <div class="avatar mx-auto">
                  <img src="../../assets/images/member-photo/photo4.png" class="rounded-circle z-depth-1" alt="Sample avatar">
               </div>
               <p class="text-uppercase blue-text"><strong>Daouda BA</strong></p>
                  <h5 class="font-weight-bold mt-4 mb-3">Membre</h5>
            </div>
         </div>
    </div>
</div>