h2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
h3{
    font-family: 'Jost', sans-serif;
    font-weight: bold;    
}
h4{
    font-family: 'Jost', sans-serif;
    text-decoration: underline;
    font-size: 20px;
}

.user-pic {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto 20px;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #54123b;
    border-bottom: 3px solid #54123b;
    transform: rotate(-30deg);
    transition: 0.5s;
}
.card-box:hover .user-pic {
    transform: rotate(0deg);
    transform: scale(1.1);
}
.card-box {
    padding: 15px;
    background-color: #fdfdfd;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}
.card-box:hover {
	border: 1px solid #70587C;
}
.card-box p {
    color: #808080;
}