<br><br> <br><br>

<div class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../assets/images/icons/icon1.png" alt="#"></span>
            <h2>C'est quoi Xex Corona ?</h2>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="message-box">
               <h4>Pour l'éradication du virus au Sénégal !</h4>
                  <p><strong>Xex Corona</strong> est une initiative d'un groupe d'étudiant de la Sonatel Academy, qui ce sont regroupés pour former une Startup: <strong>Dev'Olution Lab</strong>, pour lutter contre le COVID-19.
                     Nous avons pensé jouer notre partition en apportant notre connaissance et notre savoir faire pour lutter contre ce fléau qui ne cesse de se propager de jour en jour dans notre pays. <br>
                     <strong>Xex Corona</strong> vous donne toutes les informations liées à l'évolution de la pandémie qui touche notre pays.
                     Elle offre aussi aux visiteurs qui pensent avoir été exposés au coronavirus la possibilité de faire le test en répondant aux questions en citoyen éclairé selon vos symptômes. <br>
                     D’autres fonctionnalités sont envisagés pour répondre efficacement aux besoins.
                     Sur ce nous somme ouvert à toutes propositions et conseils.
                  </p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="post-media wow fadeIn">
               <img src="../assets/images/about_03.jpg" alt="" class="img-responsive">
            </div>
         </div>
      </div>
   </div>
</div>

<div id="testimonials" class="section wb wow fadeIn">
   <div class="container">
      <div class="row">
		   <div class="heading">
            <span class="icon-logo"><img src="../assets/images/icon-logo.png" alt="#"></span>
            <h2 class="text-center">Les membres de l'équipe Dev'Olution Lab</h2>
         </div>
      </div>

		<div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/abdoulaye.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>ABDOULAYE ATHIE KÂ</h4><hr>
					<p>Initiateur & Chef de projet</p>
					<hr>
					<a href="https://www.facebook.com/abdoulaye.ka.5680" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/daooda.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>DAOUDA BA</h4><hr>
					<p>Développeur Frontend/Devops</p>
					<hr>
					<a href="https://www.facebook.com/daoodaba975" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/assane.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>ASSANE SAMBA GUEYE</h4><hr>
					<p>Développeur Backend</p>
					<hr>
					<a href="https://www.facebook.com/zorranders" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
      </div>
      
      <div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/adrame.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>ADRAMÉ DIAKHATÉ</h4><hr>
					<p>Développeur Backend</p>
					<hr>
					<a href="https://www.facebook.com/profile.php?id=100004168846038" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/al-amine.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>MOUHAMADOU LAMINE DIA</h4><hr>
					<p>Community Manager</p>
					<hr>
					<a href="https://www.facebook.com/lamine.dia.374549" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/samba.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>SAMBA KANDJI</h4><hr>
					<p>Community Manager</p>
					<hr>
					<a href="https://www.facebook.com/kandjisamba" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
      </div>
      
      <div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/badara.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>BADARA DIONE MBENGUE</h4><hr>
					<p>Equipe Relationnelle</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/aziz.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>ELHADJI ABDOU AZIZ MBENGUE</h4><hr>
					<p>Equipe Relationnelle</p>
					<hr>
					<a href="https://www.facebook.com/abdouaziz.mbengue.16" target="_blank"><fa-icon class="fa-3x" [icon]="faF"></fa-icon></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
					<div class="user-pic">
						<img src="../../assets/images/member-photo/syaka.png" class="img-fluid" alt="User Pic">
					</div>
					<h4>SYAKA SAMATE</h4><hr>
					<p>Equipe Relationnelle</p>
				</div>
			</div>
		</div>
   </div>
   
</div>