<br><br>
<br><br>
      
   <div id="about" class="section wow fadeIn">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
               <h2>Les Recommandations</h2>
         </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Se laver fréquemment les mains</h4>
                        <p class="lead">Se laver fréquemment les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Éviter les contacts proches</h4>
                        <p class="lead">Maintenir une distance d’au moins 1 mètre avec les autres personnes, en particulier si elles toussent, éternuent ou ont de la fièvre.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Éviter de se toucher les yeux, le nez et la bouche.</h4>
                        <p class="lead">Pourquoi? Les mains sont en contact avec de nombreuses surfaces qui peuvent être contaminées par le virus. Si vous vous touchez les yeux, le nez ou la bouche, vous risquez d’être en contact avec le virus présent sur ces surfaces.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Respecter les règles d’hygiène respiratoire</h4>
                        <p class="lead">Se couvrir la bouche et le nez avec le pli du coude ou avec un mouchoir en cas de toux ou d’éternuement – jeter le mouchoir immédiatement après dans une poubelle fermée et se laver les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Tenez-vous informé</h4>
                        <p class="lead">Tenez-vous au courant des dernières évolutions concernant la COVID-19, pour tout savoir en temps réel et éviter les Fakenews.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Suivez les conseils de votre médecin</h4>
                        <p class="lead">Suivez les conseils de votre médecin, des autorités de santé nationales et locales ou de votre employeur pour savoir comment vous protéger et protéger les autres de la COVID-19.</p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                   <div class="message-box">
                      <h4>Vidéo de sensibilisation</h4>
                         <p>Vidéo de sensibilisation des étudiants contre le Covid-19 en différent langue locale.</p>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="post-media wow fadeIn">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-IpTxEd6BTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                </div>
            </div>
        </div>
    </div>