<br><br>
<br><br>
      
   <div id="about" class="section wow fadeIn">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
               <h2>Les Recommandations.</h2>
         </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Se laver les mains</h4>
                        <p class="lead">.................</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Porter un masque</h4>
                        <p class="lead">.................</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Eternuer dans son coude</h4>
                        <p class="lead">.................</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Rester chez vous</h4>
                        <p class="lead">.................</p>
                    </div>
                </div>
            </div>
        </div>
    </div>