<br><br>
<br><br>
	  
   <div id="testimonials" class="section wb wow fadeIn">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
               <h2>Foire aux questions.</h2>
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i>Question 1 ?</h3>
                     <p class="lead">La réponse à la question est... etc</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i>Question 2 ?</h3>
                     <p class="lead">La réponse à la question est... etc</p>
                  </div>
               </div>
            </div>
         </div>
         
         <hr class="invis">
         
         <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i>Question 2 ?</h3>
                        <p class="lead">La réponse à la question est... etc</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i>Question 4 ?</h3>
                     <p class="lead">La réponse à la question est... etc</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>