<br><br>
<br><br>
	  
   <div id="testimonials" class="section wb wow fadeIn">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
               <h2>Foire aux questions</h2>
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="testimonial clearfix">
                  <div class="desc" style="text-align: center;">
                     <h3>Faut-il éviter de se serrer la main à cause du coronavirus ?</h3>
                     <p class="lead">Oui. On peut contracter les virus respiratoires en serrant la main à quelqu’un puis en se touchant les yeux, le nez ou la bouche. Saluez d’un signe de la main ou de la tête, ou encore en vous inclinant.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
               <div class="testimonial clearfix">
                  <div class="desc" style="text-align: center;">
                     <h3>Comment saluer une personne pour éviter d’attraper le coronavirus ?</h3>
                     <p class="lead">Le moyen le plus sûr de se saluer pour prévenir la COVID-19 est d’éviter les contacts physiques.<br>On peut saluer d’un signe de la main ou de la tête, ou encore en s’inclinant.</p>
                  </div>
               </div>
            </div>
         </div>
         
         <hr class="invis">
         
         <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
               <div class="testimonial clearfix">
                  <div class="desc" style="text-align: center;">
                     <h3>Le coronavirus, existe-t-il au Sénégal ?</h3>
                        <p class="lead">Oui. Il existe au Sénégal et depuis son arrivée, il a fait plus de 300 cas dont 2 décès sur l'ensemble du territoire nationale.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
               <div class="testimonial clearfix">
                  <div class="desc" style="text-align: center;">
                     <h3>Le port de gants dans les lieux publics permet-il d’éviter l’infection par le coronavirus ?</h3>
                     <p class="lead">Non. Le fait de se laver les mains régulièrement protège mieux contre la COVID-19 que le port de gants en caoutchouc.<br>Le virus peut se trouver sur les gants et il y a un risque de contamination si vous vous touchez le visage avec les gants.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>