<br><br>

<div class="section wow fadeIn">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icons/icon5.png" alt="#"></span>
                <h2>Foire aux questions</h2>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Faut-il éviter de se serrer la main à cause du virus ?</h4>
                        <p style="font-style: italic;"><strong>OUI.</strong> On peut contracter les virus respiratoires en serrant la main à quelqu’un puis en se touchant les yeux, le nez ou la bouche.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Comment saluer une personne pour éviter la maladie ?</h4>
                        <p style="font-style: italic;">Le moyen le plus sûr de se saluer, est d’éviter les contacts physiques, on peut saluer d’un signe de la main ou de la tête, ou encore en s’inclinant.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Le coronavirus, existe-t-il au Sénégal ?</h4>
                        <p style="font-style: italic;"><strong>OUI.</strong> Il existe au Sénégal et depuis son arrivée, il a fait plus de 1600 cas dont une dizaine de décès sur l'ensemble du territoire nationale.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Le port de gants permet-il d’éviter l’infection ?</h4>
                        <p style="font-style: italic;"><strong>NON.</strong> Le fait de se laver les mains régulièrement vous protège mieux.<br>Le virus peut se trouver sur les gants et il y a un risque de contamination.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Existe-t-il des médicaments spécifiques pour prévenir ou traiter l'infection par le nouveau coronavirus ?</h4>
                        <p style="font-style: italic;"><strong>NON.</strong> À ce jour, aucun médicament spécifique n’est recommandé pour prévenir ou traiter l’infection par le nouveau coronavirus (2019-nCoV). <br>
                            Toutefois, les personnes infectées par le virus doivent recevoir des soins appropriés pour soulager et traiter les symptômes, et celles qui sont gravement malades doivent recevoir des soins de soutien optimisés.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify">
                        <h4 style="text-decoration: underline;">Le nouveau coronavirus affecte-t-il les personnes âgées ou les jeunes y sont-ils également sensibles ?</h4>
                        <p style="font-style: italic;"><strong>NON.</strong> Les personnes de tous âges peuvent être infectées par le nouveau coronavirus (2019-nCoV). <br>
                            Les personnes âgées et les personnes souffrant de maladies préexistantes (comme l’asthme, le diabète, les maladies cardiaques) semblent plus susceptibles de tomber gravement malades à cause de ce virus.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Les femmes enceintes doivent-elles faire un test de dépistage du coronavirus ?</h4>
                        <p style="font-style: italic;">Les protocoles et les critères de dépistage diffèrent selon l’endroit où vous vivez. <br>
                            Cependant, l’OMS recommande de dépister en priorité les femmes enceintes présentant des symptômes de la COVID-19. Si le test se révèle positif, elles peuvent avoir besoin de soins spécialisés.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify">
                        <h4 style="text-decoration: underline;">La COVID-19 peut-elle se transmettre d’une femme à son enfant à naître ou à son nouveau-né ?</h4>
                        <p style="font-style: italic;">Nous ne savons toujours pas si une femme enceinte ayant la COVID-19 peut transmettre le virus au fœtus pendant la grossesse ou au bébé pendant l’accouchement. À ce jour, la présence du virus n’a pas été constatée dans les échantillons de liquide amniotique ou de lait maternel.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify;">
                        <h4 style="text-decoration: underline;">Quelles sont les différences entre le virus de la COVID-19 et celui de la grippe ?</h4>
                        <p style="font-style: italic;">On estime que le taux de reproduction – le nombre d’infections secondaires provoquées par un individu infecté – pour le virus de la COIVD-19 est 2 fois à 2,5 fois plus élevé que pour celui de la grippe. <br>
                            Cependant, les estimations pour le virus de la COVID-19 et celui de la grippe dépendent beaucoup du contexte et de paramètres temporels, ce qui rend les comparaisons plus difficiles.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box" style="text-align: justify">
                        <h4 style="text-decoration: underline;">Les masques médicaux jetables peuvent-ils être stérilisés et réutilisés ?</h4>
                        <p style="font-style: italic;"><strong>NON.</strong> Les masques médicaux jetables sont destinés à un usage unique. <br>
                            Après avoir utilisé un masque médical, il faut l’enlever à l'aide de techniques appropriées (c'est-à-dire, ne pas toucher sa partie avant, l'enlever en saisissant par l'arrière les lanières ou les brides élastiques qui passent autour des oreilles) et s'en débarrasser immédiatement dans un réceptacle à déchets infectieux muni d'un couvercle, puis pratiquer les gestes d'hygiène des mains.</p>
                    </div>
                </div>
            </div>
    </div>
</div>