<br><br>
<br><br>
<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icons/icon4.png" alt="#"></span>
            <h2>Résultat de votre test</h2>
      </div>
      <div style="text-align: center;">
         <h1 style="color: rgb(5, 138, 12); font-weight: bold;">Votre cas ne semble pas suspect 🙂🙌🏾</h1>
            <h3 style="color: rgb(5, 138, 12); font-weight: bold;">Toutefois si vous ressentez des syptômes du COVID-19,
               <br>nous vous recommandons fortement d'appeler
               <br>le numéro vert au 800 00 50 50 ou le SAMU au 1515.</h3>
            <h5>Ce test ne constitue pas un avis médical définitif.<br>En cas de doute, demandez conseil à votre médecin ou pharmacien.</h5>
      </div>
    </div>
</div>