<br><br>
<br><br>
<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Résultat du test en ligne</h2>
      </div>
      <div style="text-align: center;">
            <h3 style="color: red; font-weight: bold;">Votre cas semble suspect.
              <br>Nous vous recommandons fortement d'appeler le numéro vert au 800 00 50 50 ou au 1515.
            </h3>
            <h5>La recommandation ne constitue pas un avis médical.<br>En cas de doute, demandez conseil à votre médecin ou pharmacien.</h5>
      </div>
    </div>
</div>