<br><br>
<br><br>

<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Statistiques au Sénégal</h2>
            <h3>Depuis le début</h3>
      </div>
    <div class="row">
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Infectés</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Guéris</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Sous traitement</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                 <h3>Décès</h3>
                 <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <h2 class="nbr">00</h2>
                 </div>
             </div>
         </div>
     </div>
     <br>
         <div class="heading">
             <h2>Tableau journalier</h2>
         </div>
             <div class="row">
             <table class="table" style="text-align: center;">
                 <thead>
                 <tr>
                     <th class="primary">Date</th>
                     <th class="warning">Nouveaux cas</th>
                     <th class="success">Guéris</th>
                     <th class="danger">Décès</th>
                     <th class="warning">Cas contact</th>
                     <th class="info">Cas importé</th>
                     <th class="danger">Cas communautaire</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>      
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr class="active" style="font-weight: bold;">
                     <td>TOTAL</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 </tbody>
             </table>
             </div>
    </div>
</div>