<body class="clinic_version">
      <header>
        <div class="header-top wow fadeIn">
          <div class="container">
              <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png" alt="image"></a>	
          </div>
        </div>
        <div class="header-bottom wow fadeIn">
          <div class="container">
              <nav class="main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a data-scroll routerLink="/home">Acceuil</a></li>
                      <li><a data-scroll routerLink="/test">Faire un test</a></li>
                      <li><a data-scroll routerLink="/faq">FAQ</a></li>
                      <li><a  data-scroll routerLink="/membre">Membre</a></li>
                    </ul>
                </div>
              </nav>
          </div>
        </div>
      </header>

      <router-outlet></router-outlet>

      <footer id="footer" class="footer-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="logo padding">
                     <a href=""><img src="../assets/images/logo.png" alt=""></a>
                     <p>Pour l'éradication du virus au Sénégal.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-info padding">
                     <h3>Contact</h3>
                        <p><fa-icon [icon]="faMap"></fa-icon> Dakar, Sénégal</p>
                        <p><fa-icon [icon]="faPaperPlane"></fa-icon> xex-corona@gmail.com</p>
                        <p><fa-icon [icon]="faPhone"></fa-icon> (+221) 77 001 01 01</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="subcriber-info">
                     <h3>Disclaimer</h3>
                     <p>Ce projet est une initiative d'un groupe d'étudiant de la Sonatel Academy (Promo2).</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      
      <div class="copyright-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2020 Xex Corona. Tout Droits Réservés.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="social">
                     <ul class="social-links">
                        <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
</body>