<body class="clinic_version">
      <header>
        <div class="header-bottom wow fadeIn">
          <div class="container">
              <nav class="main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><fa-icon [icon]="faBars" aria-hidden="true"></fa-icon> </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="/home" routerLinkActive="active">Accueil</a></li>
                      <!--li><a href="/test" routerLinkActive="active">Faire un test</a></li-->
                      <li><a href="/faq" routerLinkActive="active">FAQ</a></li>
                      <li><a href="/about" routerLinkActive="active">A Propos</a></li>
                    </ul>
                </div>
              </nav>
          </div>
        </div>
      </header>

      <router-outlet></router-outlet>

      <footer id="footer" class="footer-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="logo padding">
                     <a href=""><img src="../assets/images/logo.png" alt=""></a>
                     <p>Pour l'éradication du virus au Sénégal.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-info padding">
                     <h3>Contact</h3>
                        <p><fa-icon [icon]="faMap"></fa-icon> Dakar, Sénégal</p>
                        <p><fa-icon [icon]="faPaperPlane"></fa-icon> xex-corona@gmail.com</p>
                        <p><fa-icon [icon]="faPhone"></fa-icon> (+221) 77 080 38 27 / (+221) 77 845 24 40</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="subcriber-info">
                     <h3>Disclaimer</h3>
                     <p>Ce projet est une initiative d'un groupe d'étudiants de la Sonatel Academy (Promo2).</p><br>
                     <p>Xex Corona se base sur les données communiquées par le Ministère de la santé et de l'Action Sociale.</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      
      <div class="copyright-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2020 Xex Corona Team. Tout Droits Réservés.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="social">
                     <ul class="social-links">
                        <li><a href="https://web.facebook.com/Xex-Corona-110528240633531" target="_blank"><fa-icon [icon]="faF"></fa-icon></a></li>
                        <li><a href="https://www.instagram.com/xeex_corona" target="_blank"><fa-icon [icon]="faI"></fa-icon></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
</body>