<body class="clinic_version">

   <header>
      <div class="header-top wow fadeIn">
         <div class="container">
            <a class="navbar-brand" name="logo" href="home">
            <img src="../assets/images/logo.png" alt="Xex Corona"></a>
         </div>
      </div>
      <div class="header-bottom wow fadeIn">
         <div class="container">
            <nav class="main-menu">
               <div class="navbar-header">
                  <button type="button" name="toggle-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                     <fa-icon [icon]="faBars" aria-hidden="true"></fa-icon>
                  </button>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                     <li><a name="accueil" href="/home" routerLinkActive="active">Accueil</a></li>
                     <li><a name="test" href="/test" routerLinkActive="active">Faire un test</a></li>
                     <li><a name="faq" href="/faq" routerLinkActive="active">FAQ</a></li>
                     <li><a name="a-propos" href="/about" routerLinkActive="active">A Propos</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </header>

   <router-outlet></router-outlet>

   <footer id="footer" class="footer-area wow fadeIn">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="logo padding">
                  <a name="logo" href="home"><img src="../assets/images/logo.png" alt="Xex Corona"></a>
                     <p>Pour l'éradication du virus au Sénégal.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="footer-info padding">
                  <h3>Contact</h3>
                     <p><fa-icon [icon]="faMap"></fa-icon> Dakar, Sénégal</p>
                     <p><fa-icon [icon]="faPaperPlane"></fa-icon> mailxexcorona@gmail.com</p>
                     <p><fa-icon [icon]="faPhone"></fa-icon> (+221) 77 080 38 27 / (+221) 77 101 31 86</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="subcriber-info">
                  <h3>Disclaimer</h3>
                     <p>Xex Corona propulsé par Dev'Olution.</p><br>
                     <p>Ce site web se base sur les données communiquées par le Ministère de la Santé et de l'Action Sociale.</p>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <div class="copyright-area wow fadeIn">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="footer-text">
                  <p>© 2020 - {{ currentY }}. Dev'Olution. Tous Droits Réservés.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="social">
                  <ul class="social-links">
                     <li><a name="facebook" href="https://web.facebook.com/Xex-Corona-110528240633531" target="_blank"><fa-icon [icon]="faF"></fa-icon></a></li>
                     <li><a name="instagram" href="https://www.instagram.com/xeex_corona" target="_blank"><fa-icon [icon]="faI"></fa-icon></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>