<br><br>
<br><br>
<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Faite un test en ligne</h2>
            <h4>En répondant aux questions par OUI ou NON</h4>
      </div>
      <form>
         <p>Avez-vous un mal de tête ?</p>
            <div class="mal-tete">
               <input type="radio" name="mal-tete" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" name="mal-tete" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous de la toux ?</p>
            <div class="toux">
               <input type="radio" name="toux"class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" name="toux" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des maux de gorge?</p>
            <div class="gorge">
               <input type="radio" name="gorge" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" name="gorge" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous de la fièvre ?</p>
            <div class="fievre">
               <input type="radio" name="fievre" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" name="fievre" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous le sentiment général de malaise ?</p>
            <div class="malaise">
               <input type="radio" name="malaise" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" name="malaise" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des difficultés à respirer ?</p>
            <div class="respiration">
               <input type="radio" name="respiration" name="respiration" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" name="respiration" name="respiration" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Ressentez-vous une fatigue inhabituelle ?</p>
            <div class="fatigue">
               <input type="radio" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous du mal à vous alimenter ?</p>
            <div class="alimentation">
               <input type="radio" name="alimentation" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" name="alimentation" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des courbatures ?</p>
            <div class="courbature">
               <input type="radio" name="courbature" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" name="courbature" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous recemment fait un voyage dans un pays ou il y a le covid-19 ?</p>
            <div class="voyage">
               <input type="radio" name="voyage" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" name="voyage" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous un contact avec une personne infectée ou un cas suspect ?</p>
            <div class="contact">
               <input type="radio" name="contac" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" name="contac" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
            <br>
               <button type="submit" class="btn btn-primary">Recevoir le diagnostic</button>
        </form>
    </div>
</div>