<br><br>
<br><br>
<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icons/icon4.png" alt="#"></span>
            <h2>Faire un test en ligne</h2>
            <h5><strong>ATTENTION:</strong><br>Ce test n’est pas un dispositif médical, il ne délivre pas d’avis médical définitif.</h5>
      </div>
      <form  [formGroup]="testForm" (ngSubmit)="testing()">
         <h4 style="text-align: center; font-weight: bold;">Avez-vous un mal de tête ?</h4>
            <div class="mal-tete">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck1" formControlName="malDeTete" [value]=1>
                  <label class="custom-control-label" for="customCheck1">OUI</label>
               </div>            
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck2" formControlName="malDeTete" [value]=0>
                  <label class="custom-control-label" for="customCheck2">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous de la toux ?</h4>
            <div class="toux">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck3" formControlName="toux" [value]=1>
                  <label class="custom-control-label" for="customCheck3">OUI</label>
               </div>            
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck4" formControlName="toux" [value]=0>
                  <label class="custom-control-label" for="customCheck4">NON</label>
               </div>            
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous un mal de gorge ?</h4>
            <div class="gorge">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck5" formControlName="gorgeIrritee" [value]=1>
                  <label class="custom-control-label" for="customCheck5">OUI</label>
               </div>            
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck6" formControlName="gorgeIrritee" [value]=0>
                  <label class="custom-control-label" for="customCheck6">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous de la fièvre ?</h4>
            <div class="fievre">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck7" formControlName="fievre" [value]=1>
                  <label class="custom-control-label" for="customCheck7">OUI</label>
               </div>            
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck8" formControlName="fievre" [value]=0>
                  <label class="custom-control-label" for="customCheck8">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous le sentiment général de malaise ?</h4>
            <div class="malaise">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck9" formControlName="sentimentGeneralDeMalaise" [value]=1>
                  <label class="custom-control-label" for="customCheck9">OUI</label>
               </div>            
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck10" formControlName="sentimentGeneralDeMalaise" [value]=0>
                  <label class="custom-control-label" for="customCheck10">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous des difficultés à respirer ?</h4>
            <div class="respiration">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck11" formControlName="geneRespiratoire" [value]=1>
                  <label class="custom-control-label" for="customCheck11">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck12" formControlName="geneRespiratoire" [value]=0>
                  <label class="custom-control-label" for="customCheck12">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Ressentez-vous une fatigue inhabituelle ?</h4>
            <div class="fatigue">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck13" formControlName="fatigueInnabituelle" [value]=1>
                  <label class="custom-control-label" for="customCheck13">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck14" formControlName="fatigueInnabituelle" [value]=0>
                  <label class="custom-control-label" for="customCheck14">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous du mal à vous alimenter ?</h4>
            <div class="alimentation">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck15" formControlName="alimentationDifficile" [value]=1>
                  <label class="custom-control-label" for="customCheck15">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck16" formControlName="alimentationDifficile" [value]=0>
                  <label class="custom-control-label" for="customCheck16">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous des courbatures ?</h4>
            <div class="courbature">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck17" formControlName="courbature" [value]=1>
                  <label class="custom-control-label" for="customCheck17">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck18" formControlName="courbature" [value]=0>
                  <label class="custom-control-label" for="customCheck18">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous récemment fait un voyage dans un pays où infectés par le COVID-19 ?</h4>
            <div class="voyage">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck19" formControlName="voyage" [value]=1>
                  <label class="custom-control-label" for="customCheck19">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck20" formControlName="voyage" [value]=0>
                  <label class="custom-control-label" for="customCheck20">NON</label>
               </div>
            </div><br>

         <h4 style="text-align: center; font-weight: bold;">Avez-vous été en contact avec une personne infectée ou un cas suspect ?</h4>
            <div class="contact">
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck21" formControlName="enContact" [value]=1>
                  <label class="custom-control-label" for="customCheck21">OUI</label>
               </div>
               <div class="radiobtn">
                  <input type="radio" class="custom-control-input" id="customCheck22" formControlName="enContact" [value]=0>
                  <label class="custom-control-label" for="customCheck22">NON</label>
               </div>
            </div><br>

            <br>
            <div style="text-align: center; font-weight: bold;">
               <button type="submit" class="btn btn-primary btn-lg">Recevoir le diagnostic</button>
            </div>
        </form>
    </div>
</div>
