<br><br>
<br><br>
<div id="about" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Faites un test en ligne</h2>
            <h4>En répondant aux questions par OUI ou NON</h4>
      </div>
      <form [formGroup]="testForm" (ngSubmit)="onTestSubmit()">
         <p>Avez-vous un mal de tête ?</p>
            <div class="mal-tete">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="malDeTete" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="malDeTete" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous de la toux ?</p>
            <div class="toux">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="toux" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="toux" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des maux de gorge?</p>
            <div class="gorge">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="gorgeIrritee" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="gorgeIrritee" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous de la fièvre ?</p>
            <div class="fievre">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="fievre" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="fievre" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous le sentiment général de malaise ?</p>
            <div class="malaise">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="sentimentGeneralDeMalaise" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label>
               <br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="sentimentGeneralDeMalaise" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des difficultés à respirer ?</p>
            <div class="respiration">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="geneRespiratoire" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="geneRespiratoire" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Ressentez-vous une fatigue inhabituelle ?</p>
            <div class="fatigue">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="fatigueInnabituelle" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="fatigueInnabituelle" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous du mal à vous alimenter ?</p>
            <div class="alimentation">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="alimentationDifficile" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="alimentationDifficile" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous des courbatures ?</p>
            <div class="courbature">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="courbature" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="courbature" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous recemment fait un voyage dans un pays ou il y a le covid-19 ?</p>
            <div class="voyage">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="voyage" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="voyage" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
         <p>Avez-vous un contact avec une personne infectée ou un cas suspect ?</p>
            <div class="contact">
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="enContact" [value]=1>
               <label class="custom-control-label" for="customCheck1">OUI</label><br>
               <input type="radio" class="custom-control-input" id="customCheck1" formControlName="enContact" [value]=0>
               <label class="custom-control-label" for="customCheck1">NON</label>
            </div><br>
            <br>
               <button type="submit" class="btn btn-primary">Recevoir le diagnostic</button>
        </form>
    </div>
</div>
