<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('../../assets/images/slider-bg.png');">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12">
            <div class="text-contant">
               <h2>
                  <span class="center"><span class="icon"><img src="../../assets/images/icon-logo.png" alt="#" /></span></span>
                  <a href="" class="typewrite" data-period="2000" data-type='[ "Bienvenu sur Xex Corona", "La plateforme de lutte contre le virus Covid19 au Sénégal", "Aidez nous à vous aider !" ]'>
                  <span class="wrap"></span></a>
               </h2>
            </div>
         </div>
      </div>
   </div>
</div>
   
<div id="time-table" class="time-table-section">
   <div class="container">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <div class="row">
            <div class="service-time one" style="background:#54123b;">
               <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                  <h3>Coronavirus ou COVID-19</h3>
                  <p>La maladie à coronavirus 2019 (COVID-19) est une ‎maladie infectieuse due à un coronavirus découvert ‎récemment.<br>
                     La majorité des personnes atteintes de la COVID-19 ‎ne ressentiront que des symptômes bénins ou ‎modérés et guériront sans traitement particulier.</p>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <div class="row">
            <div class="service-time middle" style="background:#742455;">
               <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> 
                  <h3>Numéros Utiles</h3>
                  <div class="time-table-section">
                     <ul>
                        <li><span class="left">Numéro Vert</span><span class="right">800 00 50 50</span></li>
                        <li><span class="left">Samu</span><span class="right">15 15</span></li>
                        <li><span class="left">Cellule d'Alerte</span><span class="right">78 172 10 81</span></li>
                        <li><span class="left"></span><span class="right">76 765 97 31</span></li>
                        <li><span class="left"></span><span class="right">70 717 14 92</span></li>
                     </ul>
                  </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <div class="row">
            <div class="service-time three" style="background:#54123b;">
               <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                  <h3>Respectons les consignes</h3>
                  <p>Vous pouvez être infecté en respirant le virus, si ‎vous êtes à proximité d’une personne malade, ou en ‎touchant une surface contaminée puis vos yeux, ‎votre nez ou votre bouche.‎<br>
                  Donc la meilleure façon de se protéger c'est de respecter les consignes donnez par l'Organisation Mondiale de la Santé (OMS).</p>
            </div>
         </div>
      </div>
   </div>
</div>

<br>
<div id="time-table" class="time-table-section">
   <div class="container">
      <div class="heading">
            <h2>Statistiques au Sénégal</h2>
      </div>
    <div class="row">
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Infectés</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Guéris</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Sous traitement</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                 <h3>Décès</h3>
                 <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <h2 class="nbr">00</h2>
                 </div>
             </div>
         </div>
     </div>
     <br>
      <div class="heading">
         <h2>Tableau journalier</h2>
      </div> <br>
      <div class="row">
         <div class="table-responsive">
             <table class="table" style="text-align: center;">
                 <thead>
                 <tr>
                     <th class="primary">Date</th>
                     <th class="warning">Nouveaux cas</th>
                     <th class="success">Guéris</th>
                     <th class="danger">Décès</th>
                     <th class="warning">Cas contact</th>
                     <th class="info">Cas importé</th>
                     <th class="danger">Cas communautaire</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>      
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr class="active" style="font-weight: bold;">
                     <td>TOTAL</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<div class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../assets/images/icon-logo.png" alt="#"></span>
            <h2>C'est quoi Xex Corona ?</h2>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="message-box">
               <h4>Pour l'éradication du virus au Sénégal !</h4>
                  <p class="lead">Xex Corona est une site web multifonctinnel avec des outils de prévention et de lutte contre la pandémie qui touche notre pays, le Sénégal et le monde entier.</p>
                  <p>Avec ce site vous pouvez faire un test en ligne, consulter les recommandations et sensibilisation, suivre la situation actuelle pour tout savoir sur ce fléau qui touche le monde actuellement.</p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="post-media wow fadeIn">
               <img src="../assets/images/about_03.jpg" alt="" class="img-responsive">
            </div>
         </div>
      </div>
   </div>
</div>

<div id="ssb" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Sensibilisation</h2>
      </div>
         <div class="row">
            <div class="col-md-6">
               <div class="message-box">
                  <h4>Vidéo de sensibilisation</h4>
                     <p>Vidéo de sensibilisation des étudiants contre le Covid-19 en différent langue locale.<br><br>
                        Ce programme s’adresse à tous les étudiants du Sénégal et vise à impliquer davantage la jeunesse dans la vie de la Nation, promouvoir une citoyenneté active et favoriser l’esprit d’engagement et de don dans le contexte de la riposte contre le COVID-19.
                        <br>Le programme permet aux étudiant-e-s qui le souhaitent (sans condition de nationalité ou de spécialité) de devenir des volontaires au service du Centre des Opérations d’Urgence Sanitaire (COUS).
                     </p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-IpTxEd6BTw" allowfullscreen></iframe>
               </div>
            </div>
      </div>
</div>

<div id="reco" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Recommandations</h2>
      </div>
         <div class="row">
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Se laver fréquemment les mains</h4>
                     <p class="lead">Se laver fréquemment les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Éviter les contacts proches</h4>
                     <p class="lead">Maintenir une distance d’au moins 1 mètre avec les autres personnes, en particulier si elles toussent, éternuent ou ont de la fièvre.</p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Éviter de se toucher les yeux, le nez et la bouche.</h4>
                     <p class="lead">Pourquoi? Les mains sont en contact avec de nombreuses surfaces qui peuvent être contaminées par le virus. Si vous vous touchez les yeux, le nez ou la bouche, vous risquez d’être en contact avec le virus présent sur ces surfaces.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Respecter les règles d’hygiène respiratoire</h4>
                     <p class="lead">Se couvrir la bouche et le nez avec le pli du coude ou avec un mouchoir en cas de toux ou d’éternuement – jeter le mouchoir immédiatement après dans une poubelle fermée et se laver les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Tenez-vous informé</h4>
                     <p class="lead">Tenez-vous au courant des dernières évolutions concernant la COVID-19, pour tout savoir en temps réel et éviter les Fakenews.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Suivez les conseils de votre médecin</h4>
                     <p class="lead">Suivez les conseils de votre médecin, des autorités de santé nationales et locales ou de votre employeur pour savoir comment vous protéger.</p>
                 </div>
             </div>
         </div>
     </div>
</div>