<br><br>
<br><br>
<br>

<div class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('../assets/images/slider-bg.png');">
    <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="text-contant">
                <h2>
                  <span class="center"><span class="icon"><img src="../assets/images/icon-logo.png" alt="#" /></span></span>
                  <a href="" class="typewrite" data-period="2000" data-type='[ "Bienvenu sur Xex Corona", "La plateforme de lutte contre le virus Covid19 au Sénégal", "Aidez nous à vous aider !" ]'>
                  <span class="wrap"></span></a>
                </h2>
            </div>
          </div>
      </div>
    </div>
</div>

<br>
<div id="time-table" class="time-table-section">
   <div class="container">
      <div class="heading">
            <h2>Statistiques au Sénégal</h2>
      </div>
    <div class="row">
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Infectés</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Guéris</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
             <h3>Sous traitement</h3>
             <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="nbr">00</h2>
             </div>
          </div>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                 <h3>Décès</h3>
                 <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <h2 class="nbr">00</h2>
                 </div>
             </div>
         </div>
     </div>
     <br>
         <div class="heading">
             <h2>Tableau journalier</h2>
         </div>
             <div class="row">
             <table class="table" style="text-align: center;">
                 <thead>
                 <tr>
                     <th class="primary">Date</th>
                     <th class="warning">Nouveaux cas</th>
                     <th class="success">Guéris</th>
                     <th class="danger">Décès</th>
                     <th class="warning">Cas contact</th>
                     <th class="info">Cas importé</th>
                     <th class="danger">Cas communautaire</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>      
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr>
                     <td>Jour</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 <tr class="active" style="font-weight: bold;">
                     <td>TOTAL</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                     <td>00</td>
                 </tr>
                 </tbody>
            </table>
         </div>
   </div>
</div>

<div class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../assets/images/icon-logo.png" alt="#"></span>
            <h2>C'est quoi Xex Corona ?</h2>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="message-box">
               <h4>Pour l'éradication du virus au Sénégal !</h4>
                  <p class="lead">Xex Corona est une site web multifonctinnel avec des outils de prévention et de lutte contre la pandémie qui touche notre pays, le Sénégal et le monde entier.</p>
                  <p>Avec ce site vous pouvez faire un test en ligne, consulter les recommandations et sensibilisation, suivre la situation actuelle pour tout savoir sur ce fléau qui touche le monde actuellement.</p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="post-media wow fadeIn">
               <img src="../assets/images/about_03.jpg" alt="" class="img-responsive">
            </div>
         </div>
      </div>
   </div>
</div>

<div id="ssb" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Sensibilisation</h2>
      </div>
         <div class="row">
            <div class="col-md-6">
               <div class="message-box" style="text-align: center;">
                  <h4>Clip de sensibilisation</h4>
                     <p>"DAAN CORONA" Clip de sensibilisation des artistes sénégalais contre le Covid-19.</p>
               </div>
            </div>
            <div class="col-md-6">
            <div class="message-box" style="text-align: center;">
               <h4>Vidéo de sensibilisation</h4>
                  <p>Vidéo de sensibilisation des étudiants contre le Covid-19 en différent langue locale.</p>
            </div>
            </div>
         </div>
         <br>
         <div class="row">
             <div class="col-md-6">
               <div class="post-media wow fadeIn">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/qwT19-up78M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
             </div>
             <div class="col-md-6">
               <div class="post-media wow fadeIn">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-IpTxEd6BTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
             </div>
         </div>
     </div>
</div>

<div id="reco" class="section wow fadeIn">
   <div class="container">
      <div class="heading">
         <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Recommandations</h2>
      </div>
         <div class="row">
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Se laver fréquemment les mains</h4>
                     <p class="lead">Se laver fréquemment les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Éviter les contacts proches</h4>
                     <p class="lead">Maintenir une distance d’au moins 1 mètre avec les autres personnes, en particulier si elles toussent, éternuent ou ont de la fièvre.</p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Éviter de se toucher les yeux, le nez et la bouche.</h4>
                     <p class="lead">Pourquoi? Les mains sont en contact avec de nombreuses surfaces qui peuvent être contaminées par le virus. Si vous vous touchez les yeux, le nez ou la bouche, vous risquez d’être en contact avec le virus présent sur ces surfaces.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Respecter les règles d’hygiène respiratoire</h4>
                     <p class="lead">Se couvrir la bouche et le nez avec le pli du coude ou avec un mouchoir en cas de toux ou d’éternuement – jeter le mouchoir immédiatement après dans une poubelle fermée et se laver les mains avec une solution hydroalcoolique ou à l’eau et au savon.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Tenez-vous informé</h4>
                     <p class="lead">Tenez-vous au courant des dernières évolutions concernant la COVID-19, pour tout savoir en temps réel et éviter les Fakenews.</p>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="message-box" style="text-align: center;">
                     <h4>Suivez les conseils de votre médecin</h4>
                     <p class="lead">Suivez les conseils de votre médecin, des autorités de santé nationales et locales ou de votre employeur pour savoir comment vous protéger.</p>
                 </div>
             </div>
         </div>
     </div>
</div>

<div id="testimonials" class="section wb wow fadeIn">
<div class="container">
   <div class="heading">
      <span class="icon-logo"><img src="../assets/images/icon-logo.png" alt="#"></span>
         <h2>Les membres de l'équipe</h2>
   </div>
   <div class="row">
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
         <div class="testimonial clearfix">
            <div class="testi-meta">
               <img src="../assets/images/photo.png" alt="" class="img-responsive alignleft">
               <h4>Abdoulaye KA<small>Chef de Projet</small></h4>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
         <div class="testimonial clearfix">
            <div class="testi-meta">
               <img src="../assets/images/photo.png" alt="" class="img-responsive alignleft">
               <h4>Adramé DIAKHATE<small>Développeur FrontEnd</small></h4>
            </div>
         </div>
      </div>
   </div>
   
   <hr class="invis">
   
   <div class="row">
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
         <div class="testimonial clearfix">
            <div class="testi-meta">
               <img src="../assets/images/photo.png" alt="" class="img-responsive alignleft">
               <h4>Daouda BA<small>Développeur</small></h4>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
         <div class="testimonial clearfix">
            <div class="testi-meta">
               <img src="../assets/images/photo.png" alt="" class="img-responsive alignleft">
               <h4>Assane<small>Développeur</small></h4>
            </div>
         </div>
      </div>
   </div>
</div>
</div>