<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('../../assets/images/slider-bg.png'); background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-contant">
                    <h2>
                        <span class="center"><span class="icon"><img src="../../assets/images/icon-logo.png" alt="#" /></span></span>
                        <a href="" class="typewrite" data-period="2000" data-type='[ "Bienvenu sur Xex Corona", "La plateforme de lutte contre le Coronavirus au Sénégal", "Aidez nous à vous aider !" ]'>
                            <span class="wrap"></span></a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="time-table" class="time-table-section">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time one" style="background:#54123b;">
                    <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                    <h3>Coronavirus ou COVID-19</h3>
                    <p>La COVID-19 est la maladie infectieuse causée par le dernier coronavirus qui a été découvert à‎ Wuhan (Chine) en décembre 2019.<br> Les symptômes les plus courants du COVID-19 sont la fièvre, la fatigue et une toux sèche.<br> Certains
                        patients présentent des douleurs, une congestion nasale, un écoulement nasal, des maux de gorge ou une diarrhée.<br> Ces symptômes sont généralement bénins et apparaissent de manière progressive.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time middle" style="background:#742455;">
                    <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                    <h3>Numéros Utiles</h3>
                    <div class="time-table-section">
                        <ul>
                            <li><span class="left">Numéro Vert</span><span class="right" style="font-weight: bold;">800 00 50 50</span></li>
                            <li><span class="left">Samu</span><span class="right" style="font-weight: bold;">15 15</span></li>
                            <li><span class="left">Cellule d'Alerte</span><span class="right" style="font-weight: bold;">78 172 10 81</span></li>
                            <li><span class="left"></span><span class="right" style="font-weight: bold;">76 765 97 31</span></li>
                            <li><span class="left"></span><span class="right" style="font-weight: bold;">70 717 14 92</span></li>
                            <li><span class="left"></span><span class="right" style="font-weight: bold;">Respectons les gestes barrières</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time three" style="background:#54123b;">
                    <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                    <h3>Respectons les consignes</h3>
                    <p>Vous pouvez être infecté en respirant le virus, si ‎vous êtes à proximité d’une personne malade, ou en ‎touchant une surface contaminée puis vos yeux, ‎votre nez ou votre bouche.‎<br> Donc la meilleure façon de se protéger c'est de
                        respecter les consignes donnés par l'Organisation Mondiale de la Santé (OMS).<br> Le virus ne se déplace pas c'est nous qui le transportons donc RESTEZ CHEZ VOUS !</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="time-table-section">
    <div class="container">
        <div class="heading">
            <h2>Statistiques au Sénégal</h2>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <h3 class="mt">Infectés</h3>
                    <div *ngFor="let mn of main" class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h2 class="nbr" style="color: yellow;"> {{ mn.Mall }} </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <h3 class="mt">Guéris</h3>
                    <div *ngFor="let mn of main" class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h2 class="nbr" style="color: green;"> {{ mn.Mhealed }} </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <h3 class="mt">Sous traitement</h3>
                    <div *ngFor="let mn of main" class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h2 class="nbr" style="color: rgb(255, 195, 82);"> {{ mn.MunderTreatment }} </h2>
                        <p class="sd" style="color: rgb(255, 166, 0);"> {{ mn.MseriousCase }} cas graves </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <h3 class="mt">Décès</h3>
                    <div *ngFor="let mn of main" class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h2 class="nbr" style="color: crimson;"> {{ mn.Mdeath }} </h2>
                        <p class="sd" style="color: rgb(219, 114, 135);"> {{ mn.Mevacuated }} évacué </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="heading">
            <h2>Tableau journalier</h2>
            <h4>7 derniers jours</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class="info" style="text-align: center;">Date</th>
                                <th class="warning" style="text-align: center;">Nombre de test</th>
                                <th class="danger" style="text-align: center;">Cas positif</th>
                                <th class="warning" style="text-align: center;">Cas contact</th>
                                <th class="info" style="text-align: center;">Cas importé</th>
                                <th class="danger" style="text-align: center;">Cas communautaire</th>
                                <th class="success" style="text-align: center;">Guéris</th>
                                <th class="danger" style="text-align: center;">Décès</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stat of stats">
                                <td> {{ stat.date }} </td>
                                <td> {{ stat.nbrTest }} </td>
                                <td> {{ stat.newCase }} </td>
                                <td> {{ stat.contactCase }} </td>
                                <td> {{ stat.importedCase }} </td>
                                <td> {{ stat.communityCase }} </td>
                                <td> {{ stat.healed }} </td>
                                <td> {{ stat.death }} </td>
                            </tr>
                            <!--tr *ngFor="let tt of total" class="active" style="font-weight: bold;">
                                <td>Total</td>
                                <td> {{ tt.TnbrTest }} </td>
                                <td> {{ tt.TnewCase }} </td>
                                <td> {{ tt.TcontactCase }} </td>
                                <td> {{ tt.TimportedCase }} </td>
                                <td> {{ tt.TcommunityCase }} </td>
                                <td> {{ tt.Thealed }} </td>
                                <td> {{ tt.Tdeath }} </td>
                            </tr-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="heading">
            <h2>Cartographie des différentes zones touchées</h2>
        </div>
        <div style="margin-bottom: 120px;"></div>
        <div class="row">
            <div class="col-sm col-lg col-xl col-md">
                <div class="map-chart">
                    <app-map-chart></app-map-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section wow fadeIn">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icons/icon2.png" alt="#"></span>
            <h2>Sensibilisation</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h4>Spot vidéo sur le Coronavirus</h4>
                    <p>Vidéo de sensibilisation du Ministère de la santé et de l'Action Sociale.<br><br> Respectons les mesures de prévention !<br><br> Assurez-vous de partager ces conseils avec votre entourage !<br> Surmonter une telle pandémie est un effort
                        collectif et nous devons agir tous ensemble.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1eoomo4rnSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section wow fadeIn">
        <div class="container">
            <div class="heading">
                <span class="icon-logo"><img src="../../assets/images/icons/icon3.png" alt="#"></span>
                <h2>Recommandations</h2>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/wash.png" alt="#"></span>
                        <br><h4>Se laver fréquemment les mains</h4>
                        <p>Se laver fréquemment les mains avec une solution hydroalcoolique ou à l’eau et au savon pour tuer les germes se trouvant sur nos mains.</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/social.png" alt="#"></span>
                        <br><h4>Éviter les contacts proches</h4>
                        <p>Maintenir une distance d’au moins 1 mètre avec les autres personnes, en particulier si elles toussent, éternuent ou ont de la fièvre.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/face.png" alt="#"></span>
                        <br><h4>Éviter de se toucher les yeux, le nez et la bouche.</h4>
                        <p>Pourquoi? Les mains sont en contact avec de nombreuses surfaces qui peuvent être contaminées par le virus. Si vous vous touchez les yeux, le nez ou la bouche, vous risquez d’être en contact avec le virus présent sur ces surfaces.</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/mask.png" alt="#"></span>
                        <br><h4>Respecter les règles d’hygiène respiratoire</h4>
                        <p>Se couvrir la bouche et le nez avec le pli du coude ou avec un mouchoir en cas de toux ou d’éternuement puis jeter le mouchoir immédiatement après dans une poubelle fermée et se laver les mains.</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/earth.png" alt="#"></span>
                        <br><h4>Tenez-vous informé</h4>
                        <p>Tenez-vous au courant des dernières évolutions concernant la COVID-19, pour tout savoir en temps réel et éviter les Fakenews.</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <div class="message-box">
                        <span class="icon-logo"><img src="../assets/images/reco/medical.png" alt="#"></span>
                        <br><h4>Suivez les conseils de votre médecin</h4>
                        <p>Suivez les conseils de votre médecin, des autorités de santé nationales et locales ou de votre employeur pour savoir comment vous protéger.</p>
                    </div>
                </div>
            </div>
      </div>
</div>