<br><br>
<br><br>

   <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
        <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="../../assets/images/icon-logo.png" alt="#"></span>
            <h2>Sensibilisation</h2>
        </div>
        </div>
        <div class="contact-section" style="background:#742455;">
            <div class="form-contant"><br>
                <form id="ajax-contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Texte de sensibilisation</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupFileAddon01">Choisir un photo</span>
                                </div>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01">
                                </div>
                            </div>
                            <div class="actions">
                                <input type="submit" value="Enregistrer" name="submit" id="submitButton" class="btn small" title="Submit Your Message!">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 alignright">
                <br><br><br>
                <div class="message-box" style="text-emphasis-color:#bebcbe;">
                      <p class="lead">Xex Corona est une site web multifonctinnel avec des outils de prévention et de lutte contre la pandélie qui touche notre pays, le Sénégal et le monde entier.</p>
                      <p>Avec ce site vous pouvez faire un test en ligne, voir les recommandations, recevoir des alertes sur la situation actuelle et consulter les questions fréquement posées dans notre FAQ pour tout savoir sur ce fléau qui touche le monde actuellement.</p>
                </div>
            </div>
        </div>
    </div>